#nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  #nav-links li {
    margin-right: 20px;
  }
  
  #nav-links li a {
    color: #ffd9b3;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  #nav-links li a:hover {
    color: #b30059;
    font-size: 25px;
    transition: font-size 0.25s ease-in-out;
  }

 
  @media only screen and (max-width: 600px) {
    #nav-links {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    
    #nav-links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
/** dropdown **/

.writeups ul {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  z-index: 1;
}

.writeups:hover ul {
  display: block;
}

.writeups ul li {
  display: block;
}

.writeups ul li a {
  color: #ffd9b3;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.writeups ul li a:hover {
  color: #b30059;
  font-size: 25px;
  transition: font-size 0.25s ease-in-out;
}

.writeups ul {
  margin: 0;
  padding: 0;
}

.writeups li ul li {
  margin: 0;
  padding: 5px 0 5px 20px; /* adjust as needed */
}
