#nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  #nav-links li {
    margin-right: 20px;
  }
  
  #nav-links li a {
    color: #ffd9b3;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  #nav-links li a:hover {
    color: #b30059;
    font-size: 25px;
    transition: font-size 0.25s ease-in-out;
  }

 


