#content {
    height: 500px; /* set the height of the container */
  }
  
iframe {
    height: 10%; /* set the height of the iframe */
    border: none;
  }
#div3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
    color: #ffcc99;
    font-size: 16px;
    white-space: auto;
    font-family: "Space Mono", monospace;
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 15px;
  }

h3{
    margin-left: 0px !important;
    color:#b30059;
    font-size: 25px;
}

#keylog-link {
    text-decoration: none;
    color: #ffd9b3;
    }

#keylog-link:hover{
    color:#b30059;
    }

ul{
    margin: 0;
    padding: 20px;

}

h1 {
  text-align: center;
}

#inner-div{
  border: 1px solid #ffcc99!important;
  padding: 15px !important; 
  border-color:#ffcc99 !important;
}