body{
    background-color: black;

}

#div1{
    display: block;
    margin: auto;
    height: auto;
    text-align: center;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-family: "Space Mono", monospace;

}

#mypfp{
    max-width: 20%;
    border-radius: 10px;
    }

#headbar{
    color: #ffa64d;
    font-family: 'Space Mono', monospace;
    font-size: 25px;

}